
services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=diego
      - POSTGRES_PASSWORD=moonmakers_secret
      - POSTGRES_DB=cv_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build: .
    command: uvicorn main:app --app-dir Backend --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env

volumes:
  postgres_data: